 <h2>ジャンル編集</h2>
   <%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
      <div class="form_group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="form_group">
        <%= f.submit "変更を保存", class: "btn btn-primary" %>
      </div>
   <% end %>