@import '~bootstrap/scss/bootstrap';
.field_with_errors {
  display: contents;
}
.table th, .table td {
  padding: 0.75rem;
  border: 1px solid black;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid black;
}